div.header {
	width: 100%;
	height: 100px;
	background-color: #A0FAD9
}

img.avatar {
	width: 90px;
	height: 90px;
	border: 1px;
	margin: 5px;
}

div.account {
	margin-top: -90px;
	margin-left: 100px;
}

a.logout {
	margin-top: -100px;
	margin-left: 95%;
}